---
import Layout from "../../components/layout/page.astro";
import Post from "../../components/post.astro";
import Banner from "../../components/banner.astro";
const posts = await Astro.glob("../blog/*.md");
---

<Layout>
  <Banner />
  <main
    class="container mx-auto p-4 font-be_vietnam_pro font-normal text-gray-600"
  >
    <section class="grid grid-cols-1 sm:grid-cols-3 gap-36 my-20">
      {
        posts.map((post) => (
          <Post
            title={post.frontmatter.title}
            author={post.frontmatter.author}
            image={post.frontmatter.image.url}
            pubDate={post.frontmatter.pubDate}
            description={post.frontmatter.description}
            url={post.url}
          />
        ))
      }
    </section>
  </main>
</Layout>
