---
import Layout from "../../components/layout.astro";
import Post from "../../components/post.astro";
const posts = await Astro.glob("../blog/*.md");
---

<Layout>
  <section class="grid grid-cols-1 sm:grid-cols-3 gap-36 my-20">
    {
      posts.map((post) => (
        <Post
          title={post.frontmatter.title}
          author={post.frontmatter.author}
          image={post.frontmatter.image.url}
          pubDate={post.frontmatter.pubDate}
          description={post.frontmatter.description}
          url={post.url}
        />
      ))
    }
  </section>
</Layout>
