---
interface Props {
  title: string;
  phone: string;
  email: string;
}

const { title, phone, email } = Astro.props;

const year = new Date().getFullYear();
---

<footer class="bg-darkblue-300">
  <div
    class="container mx-auto px-4 py-10 grid grid-cols-1 sm:grid-cols-3 gap-6"
  >
    <div class="flex items-center">
      <img src="/logo-hzt-white.svg" class="h-20" />
    </div>
    <div>
      <h3
        class="text-white font-be_vietnam_pro font-bold uppercase text-lg mb-4"
      >
        Información
      </h3>
      <ul class="text-gray-300 mt-4">
        <li class="my-4">
          <i class="fa-solid fa-file"></i>
          &nbsp;&nbsp;
          <a href="#">Política de privacidad</a>
        </li>
      </ul>
    </div>
    <div>
      <h3
        class="text-white font-be_vietnam_pro font-bold uppercase text-lg mb-4"
      >
        Contacto
      </h3>
      <ul class="text-gray-300 mt-4">
        <li class="my-4">
          <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;<a href={`tel:${phone}`}
            >+57 {phone}</a
          >
        </li>
        <li>
          <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;<a
            href={`mailto:${email}`}>{email}</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="container mx-auto px-4 py-6 border-t-2 border-slate-800">
    <p
      class="text-white font-be_vietnam_pro font-semibold text-center sm:text-left"
    >
      {title} &copy; {year}
    </p>
  </div>
</footer>
